<!DOCTYPE html>
<html lang="en">
  <head>

      <title>Splunk Based Effort Tracking</title>



      <link href="/css/app.css" media="all" rel="stylesheet" />
      <link href="/css/font-awesome.min.css" rel="stylesheet">

  </head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="http://weill.cornell.edu/"><img alt="Wcm logo 2line white" src="/assets/wcm-logo-2line-white-c94ab6601e71e72f9f8d401b6ea483c8.png" title="WCMC Logo" width="240px"></a><div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <nav class="collapse navbar-collapse navbar-collapse" role="navigation" id="navbar-collapse-right">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">People</a></li>
            <li><a href="https://its.weill.cornell.edu/services/phones-fax-directories/wcmc-directory" target="_blank"><i class="fa fa-question-circle"></i> Help</a></li>
              <li><a href="/update/profile/index"><i class="fa fa-sign-in"></i> Login to edit profile</a></li>
          </ul>

        </nav>

      </div><!-- /.container-fluid -->
    </nav>
  <div class="container main-content">

<center><h1><font color="#B31B1B">Enter new initiative information</center></h1><br>
<hr>
<%= form_for @initiative do |f| -%>
  Inititative Name <%= f.text_field :name %><br />
  Reference Number (maybe SN project) <%= f.text_field :ref %>
  <%= f.submit %>
<% end -%>

<center><h1><font color="#B31B1B">All existing intitave information</center></h1><br>
<hr>

<% if !@initiatives.blank? %>
  <% for item in @initiatives %>
  <b>  <%= item.name %>:</b> <%= item.ref %> <br />
  <% end %>
<% else %>

<% end  %>
